.modal-content .modal-header {
    background: black;
    color: white;
  }
  .modal-content {
    text-align: center;
  }
  .modal-content .modal-header {
    margin: 0 auto;
    width: 100%;
  }
  #exampleModalLongTitle {
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
  }
  button.close {
    margin: 0;
    padding: 0;
  }
  .modal-body .row div input {
    margin: 15px 0;
  }
  button.close {
    margin: 0 !important;
    padding: 0 !important;
    color: white;
    opacity: 1;
  }
  
  .content-table{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  header{
    padding: 50px 0;
  }

  .id_false{
    color: white;
  }

  #curp{
      text-transform: uppercase;
  }

  .col-6{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }